<?xml version="1.0"?>
<launch>
    <!--此处修改为自己的地图文件-->
    <arg name="map_file" default="$(find movebase_test)/map/taizou2/map.yaml" />
    <node pkg="map_server" type="map_server" name="map_server_node" required="true" args="$(arg map_file)" />

    <!--启动movebase文件-->
    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find movebase_test)/config/costmap_common_params.yaml" command="load"
            ns="global_costmap" />
        <rosparam file="$(find movebase_test)/config/costmap_common_params.yaml" command="load"
            ns="local_costmap" />
        <rosparam file="$(find movebase_test)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find movebase_test)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find movebase_test)/config/movebase_params.yaml" command="load" />
        <rosparam file="$(find movebase_test)/config/teb_planner_params.yaml" command="load" />
        <!-- <rosparam file="$(find movebase_test)/config/dwa_planner_params.yaml" command="load" /> -->
    </node>

    <!--启动grapher planner 文件-->
    <node pkg="taizou_path_pro" type="taizou_path_pro" name="taizou_path_pro" output="screen">
        <param name="path_file" value="$(find movebase_test)/map/taizou2/path.yaml" />
    </node>

    <node name="connection_node" pkg="movebase_test" type="connection" output="screen" />

    <!--启动fake robot 文件-->
    <!-- <node name="simu_robot_node" pkg="movebase_simulation" type="simu_robot" output="screen" /> -->

    <!--visualization-->
    <node pkg="rviz" type="rviz" name="rviz"
        args="-d $(find movebase_test)/rviz/hdl_localization.rviz" />

</launch>
